<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <customErrors mode="Off"></customErrors>
    <sessionState timeout="90" />
  </system.web>
  <appSettings />
  <system.serviceModel>

    <services>
      <service name="TMWcfRestPartnerService.SubscriberService" behaviorConfiguration="ServiceBehaviour">

        <endpoint address="" binding="webHttpBinding" bindingConfiguration="Binding" contract="TMWcfRestPartnerService.ISubscriberService" behaviorConfiguration="web">

        </endpoint>
      </service>

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="web">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">

          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="Binding" crossDomainScriptAccessEnabled="true">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>

  </system.webServer>

</configuration>
